<!DOCTYPE html>
<html lang="us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin-后台管理系统-视频列表</title>
		<include file="Public/include"/>
	</head>
<!-- 右边列表 -->
	<body>
		<include file="Public/header"/>
		<include file="Public/left"/>
		<div class="col-xs-10 col-sm-8 col-lg-10" >
			<div class="clearfix">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>过滤条件:</td>
							<td>
								<select name="cat" id="input">
									<option value="" selected>请选择分类</option>
									<option value="">电影</option>
								</select>
								<select name="recomend" id="input">
									<option value="" selected>请选择推荐值</option>
									<option value="">1</option>
									<option value="">2</option>
									<option value="">3</option>
									<option value="">4</option>
									<option value="">5</option>
								</select>
								<select name="area" id="input">
									<option value="" selected>请选择地区</option>
									<option value="">大陆</option>
									<option value="">香港</option>
									<option value="">美国</option>
									<option value="">英国</option>
									<option value="">韩国</option>
									<option value="">日本</option>
								</select>
								<select name="lang" id="input">
									<option value="" selected>请选择语言</option>
									<option value="">国语</option>
									<option value="">英语</option>
									<option value="">韩语</option>
									<option value="">日语</option>
								</select>
								<select name="" id="input">
									<option value="" selected>请选择显隐</option>
									<option value="">显示</option>
									<option value="">隐藏</option>
								</select>
								关键字：<input type="text">&nbsp;<button type="button" class="btn btn-sm">搜索</button>
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>编号</th>
							<th>名称</th>
							<th>备注</th>
							<th>分类</th>
							<th>来源</th>
							<th>推荐</th>
							<th>浏览</th>
							<th>更新时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<volist name="vodlist" id="vod">
						<tr>
							<td><input type="checkbox" value="">&nbsp{$vod.d_id}</td>
							<td>{$vod.d_name}</td>
							<td>{$vod.d_remarks}</td>
							<td>{$vod.type}</td>
							<td>{$vod.d_playfrom}</td>
							<td>{$vod.d_level}</td>
							<td><input type="checkbox" value=""></td>
							<td>{$vod.d_maketime|date="Y-m-d h:i:s",###}</td>
							<td><a href="">删除</a> | <a href="" style="color:#A65200;">修改</a> | <a href="" style="color:#8DC661;">更新</a></td>
						</tr>
					</volist>
					</tbody>
				</table>	
			</div>
			<div class="clearfix">
				<ul class="pagination">
					{$page}
				</ul>
			</div>
		</div>
	</body>
</html>
	