<!DOCTYPE html>
<html lang="us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin-后台管理系统-系统设置</title>
		<include file="Public/include"/>
	</head>
<!-- 右边列表 -->
	<body>
		<include file="Public/header"/>
		<include file="Public/left"/>
		<div class="col-xs-10 col-sm-8 col-lg-10" >
			<div class="clearfix">	
					<form action="__SELF__" method="POST" role="form">
						<legend>网站设置</legend>
					
						<div class="form-group">
							<label for="">网站名称:</label>
							<input type="text" class="form-control" name="M_Name" value="{$info.M_Name}">
						</div>
						<div class="form-group">
							<label for="">网站域名:</label>
							<input type="text" class="form-control" name="M_Domain" value="{$info.M_Domain}">
						</div>
						<div class="form-group">
							<label for="">网站关键字:</label>
							<input type="text" class="form-control" name="M_Keywords" value="{$info.M_Keywords}">
						</div>
						<div class="form-group">
							<label for="">网站描述:</label>
							<input type="text" class="form-control" name="M_Content" value="{$info.M_Content}">
						</div>
						<div class="form-group">
							<label for="">站长邮箱:</label>
							<input type="text" class="form-control" name="M_Email" value="{$info.M_Email}">
						</div>
						<div class="form-group">
							<label for="">模板主题:</label>
							<select name="M_Theme" id="input">
								<option value="{$info.M_Theme}">{$info.M_Theme}</option>
							</select>
						</div>
						<!--<div class="form-group">
								<label for="">统计代码:</label>
								<textarea class="form-control" name="" name="" value="" cols="30" rows="10"></textarea>
							</div> -->
						<button type="submit" class="btn btn-primary">更改参数</button>
					</form>
			</div>
		</div>
	</body>
</html>
	