<!DOCTYPE html>
<html lang="us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin-后台管理系统-添加视频</title>
		<include file="Public/include"/>
	</head>
<!-- 右边列表 -->
	<body>
		<include file="Public/header"/>
		<include file="Public/left"/>
		<div class="col-xs-10 col-sm-8 col-lg-10" >
			<div class="clearfix">
				<div class="clearfix">	
					<h4>视频信息</h4>	
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td>参数:</td>
								<td>
									<select name="d_type" id="input">
										<option value="" selected>请选择分类</option>
										<option value="">电影</option>
									</select>
									<select name="d_level" id="input">
										<option value="0">请选择推荐值</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
									<select name="d_area" id="input">
										<option value="">请选择地区</option>
										<option value="大陆">大陆</option>
										<option value="香港">香港</option>
										<option value="美国">美国</option>
										<option value="英国">英国</option>
										<option value="韩国">韩国</option>
										<option value="日本">日本</option>
									</select>
									<select name="d_lang" id="input">
										<option value="">请选择语言</option>
										<option value="国语">国语</option>
										<option value="英语">英语</option>
										<option value="韩语">韩语</option>
										<option value="日语">日语</option>
									</select>
									<select name="d_hide" id="input">
										<option value="0" selected>显示</option>
										<option value="1">隐藏</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>名称:</td>
								<td><input type="text" name="d_name">  &nbsp备注: <input type="text" name="d_remarks"></td>
							</tr>
							<tr>
								<td>导演:</td>
								<td><input type="text" name="d_directed">  &nbsp演员: <input type="text" name="d_starring"></td>
							</tr>
							<tr>
								<td>图片:</td>
								<td><input type="text" name="d_pic"> &nbsp<input type="file" style="display:inline-block;"><button type="button" class="btn btn-sm">上传</button></td>
							</tr>
							<tr>
								<td>播放地址:</td>
								<td>播放器：
									<select name="d_playfrom" id="input">
										<option value="llj" selected>llj</option>
										<option value="link">link</option>
									</select>  
									<br/><br/>
									<textarea name="d_playurl" id="" cols="30" rows="10" class="form-control"></textarea>
								</td>
							</tr>
							<tr>
								<td>介绍:</td>
								<td>
									<textarea name="d_content" id="" cols="30" rows="10" class="form-control"></textarea>
								</td>
							</tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-sm">保存</button>
					<button type="button" class="btn btn-sm">返回</button>
				</div>
			</div>
		</div>
	</body>
</html>
	