
	<body>
		<include file="Public/header"/>

		<!-- 左边列表 -->
		<div class="col-xs-2 col-sm-4 col-lg-2" style="border-right:1px solid #eee;">
			<ul class="list-group">
				<a href="{:U('admin_index')}" class="list-group-item">欢迎界面</a>
				<a href="{:U('admin_setting')}" class="list-group-item">系统设置</a>
				<a href="{:U('admin_category')}" class="list-group-item">分类设置</a>
				<a href="{:U('admin_add')}" class="list-group-item">添加电影</a>
				<a href="{:U('admin_list')}" class="list-group-item">电影列表</a>
			</ul>	
		</div>	

		{__CONTENT__}
	</body>
</html>