<div class="col-xs-10 col-sm-8 col-lg-10" >
	<div class="clearfix">	
		<form role="form" id="fm">
			<table class="table">
				<tbody>
					<tr>
						<td>
							<label for="">网站名称:</label>
							<input type="text"  name="M_Name" value="{$info.M_Name}">
						</td>
						<td>
							<label for="">网站域名:</label>
							<input type="text"  name="M_Domain" value="{$info.M_Domain}">
						</td>
					</tr>
					<tr>
						<td>
							<label for="">网站关键字(首页):</label>
							<input type="text"  name="M_Keywords" value="{$info.M_Keywords}">
						</td>
						<td>
							<label for="">网站描述(首页):</label>
							<input type="text"  name="M_Content" value="{$info.M_Content}">
						</td>
					</tr>
					<tr>
						<td>
							<label for="">站长邮箱:</label>
							<input type="text"  name="M_Email" value="{$info.M_Email}">
						</td>
						<td>
							<label for="">模板主题:</label>
							<!-- 获取全部的主题 自动检测View/Index 目录下有多少目录-->
							<select name="M_Theme" id="input">
								<volist name='dir' id="d">
									<eq name="d" value="$info.M_Theme">
										<option value="{$d}" selected>{$d}</option>
									<else/>
										<option value="{$d}">{$d}</option>
									</eq>
								</volist>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="">统计代码:</label>
							<textarea  name="M_visit" value="" cols="30" rows="10"></textarea>
						</td>
						<td>
							<label for="">广告代码:</label>
							<textarea  name="M_ad" value="" cols="30" rows="10"></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<label for="">地区:</label>
							<input type="text"  name="M_area" value="{$info.M_area}">
						</td>
						<td>
						
							<label for="">语言:</label>
							<input type="text"  name="M_lang" value="{$info.M_lang}">
						</td>
					</tr>
					<tr>
						<td>
							<label for="">推荐:</label>
							<input type="text"  name="M_level" value="{$info.M_level}">
						</td>
						<td>
						
							<label for="">播放器:</label>
							<input type="text"  name="M_player" value="{$info.M_player}">
						</td>
					</tr>
				</tbody>
			</table>
			<input type="button" class="btn btn-primary" value="更改参数" onclick="send()">
		</form>
	</div>
</div>
<script>
function send(){
	var xhr = new XMLHttpRequest();
	var fm = document.getElementById('fm');
	var fd = new FormData(fm);
	xhr.open('post','{:U("Admin/admin_setting")}',true);
	xhr.onreadystatechange = function (){
		if(xhr.readyState == 4){
			location.reload();
		}
	}
	xhr.send(fd);
}
</script>