
<div class="col-xs-10 col-sm-8 col-lg-10" >
	<div class="clearfix">
		<table class="table">
			<tbody>
			<label for="">视频栏目列表</label>
				<tr>
					<td width="150px;">
						<select name="d_type" multiple style="width:150px;height:150px;">
							<volist name="arr" id="type">
								<eq name="type.t_id" value="$data.d_type">
									<option value="{$type.t_id}" selected>{$type.t_lev}{$type.t_name}</option>
								<else/>
									<option value="{$type.t_id}">{$type.t_lev}{$type.t_name}</option>
								</eq>
							</volist>
						</select>
					</td>
					<td>
						<button class="btn btn-sm">生成首页</button>
						<button class="btn btn-sm">全部栏目</button>
						<button class="btn btn-sm">选择内容</button>
						<button class="btn btn-sm">全部内容</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>